{% extends "base.html" %}
{% block content %}
<div class="jumbotron text-center">
    <h1>Welcome to caffeteria lovely coffetteria!</h1>
    <p> We're excited to offer you a fresh culinary experience that will tantalize your taste buds and leave you satisfied. Our talented chefs have carefully crafted a menu that features a variety of delicious dishes made with locally sourced ingredients. Whether you're in the mood for a hearty breakfast, a quick lunch, or a relaxing dinner, we've got you covered. Come and enjoy our cozy atmosphere, sip on a warm cup of coffee, and indulge in our baked goods. We look forward to serving you and hope to become your go-to spot for good food and great company!</p>

<div class="jumbotron text-center"
    <h2> If you want to reserve a table please login to our system!</h2>
{% endblock %}